{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "max-len": [1, 80, 2],
    "no-param-reassign": [2, { "props": false }],
    "no-continue": 0,
    "no-underscore-dangle": 0,
    "generator-star-spacing": 0,
  }
}
